@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

body {
  scroll-behavior: smooth;
  z-index: 999;
  opacity: 2;
  background-color: #020202;
  background-attachment: fixed;
  width: 100%;
  height: 100%;

  --gap: 2em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.048);

  background-image: linear-gradient(-90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)),
    linear-gradient(0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap));
  background-size: var(--gap) var(--gap);
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.components-sidebar,
.layout {
  height: calc(100vh - 0px);
}

.layout::-webkit-scrollbar {
  width: 10px;
}

.layout::-webkit-scrollbar-thumb {
  background-color: rgb(245, 127, 23);
  border-radius: 100px;
}

.layout::-webkit-scrollbar-track {
  background-color: rgb(245, 127, 23);
}

.components-sidebar::-webkit-scrollbar {
  width: 7px;
}

.components-sidebar::-webkit-scrollbar-thumb {
  opacity: 0;
  border-radius: 100px;
  transition: opacity 0.8s ease;
}

.components-sidebar:hover::-webkit-scrollbar-thumb {
  background-color: rgb(245, 127, 23);
  border-radius: 100px;
  opacity: 1;
}

.logo-text {
  background: linear-gradient(to right, #6227eb, #ffffff 35%, #278cff);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 3s linear infinite;
  -webkit-animation: gradient 3s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 75%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 70%;
  }
}

#btn-down {
  display: inline-block;
  border-radius: 4px;
  background-color: #3d405b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#btn-down span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#btn-down span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

#btn-down:hover span {
  padding-right: 15px;
}

#btn-down:hover span:after {
  opacity: 1;
  right: 0;
}